.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &--main {
    min-height: 100vh;
  }
}

.content__about-name {
  margin-bottom: 0;

  svg text {
    fill: black;
    stroke: black;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 3s ease-out;
  }
}

.content__about-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content__about-item {
  margin-right: 20px;
}

.content__project {
  width: 100%;
}

.content__project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content__project-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 22px;
    color: #333333;
  }

  a {
    font-size: 20px;

    &::after {
      left: 50%;
    }

    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}

.content__project-link-wrapper {
  margin-top: auto;
}
