.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.content__about-name {
  margin-bottom: 0;

  svg text {
    fill: black;
    stroke: black;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 3s ease-out;
  }
}

.content__about-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content__about-item {
  margin-right: 20px;
}

.content__project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
  padding: 0;
  list-style: none;
}

.content__project-item {
  position: relative;
  width: 300px;
  margin: 30px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;

  h3 {
    text-align: center;
  }
}
