@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }

  25% {
    fill-opacity: 0;
    stroke-width: 1px;
  }

  50% {
    fill-opacity: 0;
  }

  75% {
    stroke-width: 1px;
  }

  100% {
    stroke-width: 0;
  }
}
